---
import IconCheck from './IconCheck.astro'
---
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    
                </th>
                <th scope="col" class="px-6 py-3">
                    Basic
                </th>
                <th scope="col" class="px-6 py-3">
                    FITNESS
                </th>
                <th scope="col" class="px-6 py-3">
                    studio
                </th>

            </tr>
        </thead>
        <tbody>
                      
            <tr class="odd:bg-white  even:bg-gray-50  border-b mt-12">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap  ">
                    InBody Scans
                </th>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b mt-12">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    InBody Scans
                </th>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b mt-12">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    InBody Scans
                </th>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b mt-12">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    InBody Scans
                </th>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b mt-12">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    InBody Scans
                </th>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>

            </tr>
                        <tr class="odd:bg-white  even:bg-gray-50  border-b mt-12">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    InBody Scans
                </th>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    InBody Scans
                </th>
                <td class="px-6 py-4">
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />
                </td>
                <td class="px-6 py-4">
                    <IconCheck />
                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    InBody Scans
                </th>
                <td class="px-6 py-4">
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />
                </td>
                <td class="px-6 py-4">
                    <IconCheck />
                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    InBody Scans
                </th>
                <td class="px-6 py-4">
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />
                </td>
                <td class="px-6 py-4">
                    <IconCheck />
                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    InBody Scans
                </th>
                <td class="px-6 py-4">
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />
                </td>
                <td class="px-6 py-4">
                    <IconCheck />
                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    Gym Access
                </th>
                <td class="px-6 py-4">

                </td>
                <td class="px-6 py-4">

                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    

                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    STUDIO RED HIIT Classes
                </th>
                <td class="px-6 py-4">

                </td>
                <td class="px-6 py-4">

                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    

                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    STUDIO FLOW Infrared Yoga
                </th>
                <td class="px-6 py-4">
                    
                </td>
                <td class="px-6 py-4">
                    
                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>

            </tr>
            <tr class="odd:bg-white  even:bg-gray-50  border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 sm:whitespace-nowrap ">
                    InBody Scans
                </th>
                <td class="px-6 py-4 ">
                    
                </td>
                <td class="px-6 py-4">

                </td>
                <td class="px-6 py-4">
                    <IconCheck />                    
                    
                </td>

            </tr> 


        </tbody>
    </table>
</div>