---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="twitter:description" content="Experience fitness excellence in Seattle with VASA Fitness. Our gym provides state-of-the-art facilities, high-quality training classes, and a motivating atmosphere to help you achieve your health and wellness goals. Join us today and start your journey to a more active and healthier life with VASA Fitness in Seattle">
		<meta name="description" content="Experience fitness excellence in Seattle with VASA Fitness. Our gym provides state-of-the-art facilities, high-quality training classes, and a motivating atmosphere to help you achieve your health and wellness goals. Join us today and start your journey to a more active and healthier life with VASA Fitness in Seattle">
		<meta name="twitter:image" content="https://vasafitness.com/wp-content/uploads/2023/02/vasa-logo-2019.png">
		<meta property="og:image" content="https://vasafitness.com/wp-content/uploads/2023/02/vasa-logo-2019.png">
		<link rel="icon" type="image/svg+xml" href="/vasa-logo-2019.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #f0f0f0;
		background-size: 224px;
	}

</style>
